## 따릉이

#### 파일 병합

In [ ]:
bike_data=pd.DataFrame(pd.read_csv(filenames[4],encoding='euc-kr',thousands = ','))

In [ ]:
filenames[4]

'C:/Code/regression/따릉이\\서울특별시 공공자전거 대여이력 정보_2017년_2분기_1.csv'

In [ ]:
path ='C:/Code/regression/따릉이'
filenames = glob.glob(path + "/서울특별시*.csv")

In [ ]:
len(filenames)

38

In [ ]:
bike1=pd.DataFrame()
bike2=pd.DataFrame()
bike3=pd.DataFrame()
bike4=pd.DataFrame()

### 데이터 용량이 너무 커서 bike1~5로 나눠 작업

In [ ]:
a1=0
for i in range(0,11):
    bike_data=pd.DataFrame(pd.read_csv(filenames[i],encoding='euc-kr',thousands = ','))
    a1+=len(bike_data)
    print(filenames[i],i,a1)
    print(bike_data.columns[[1,2,9,10]])
    bike_data=bike_data.iloc[:,[1,2,9,10]]
    bike_data.columns=['대여일시','대여소번호','이용시간_분', '이용거리_M']
    bike1=pd.concat([bike1,bike_data])

C:/Code/regression/따릉이\서울특별시 공공자전거 대여이력 정보_2016년_1.csv 0 482990
Index(['대여일시', '대여소번호', '이용시간(분)', '이용거리(M)'], dtype='object')
C:/Code/regression/따릉이\서울특별시 공공자전거 대여이력 정보_2016년_2.csv 1 1298291
Index(['대여일시', '대여소번호', '이용시간(분)', '이용거리(M)'], dtype='object')
C:/Code/regression/따릉이\서울특별시 공공자전거 대여이력 정보_2016년_3.csv 2 1580480
Index(['대여일시', '대여소번호', '이용시간(분)', '이용거리(M)'], dtype='object')
C:/Code/regression/따릉이\서울특별시 공공자전거 대여이력 정보_2017년_1.csv 3 1935211
Index(['대여일시', '대여소번호', '이용시간(분)', '이용거리(M)'], dtype='object')
C:/Code/regression/따릉이\서울특별시 공공자전거 대여이력 정보_2017년_2분기_1.csv 4 2699365
Index([''대여일시'', ''대여대여소번호'', ''이용시간(분)'', ''이용거리(M)''], dtype='object')
C:/Code/regression/따릉이\서울특별시 공공자전거 대여이력 정보_2017년_2분기_2.csv 5 3231868
Index([''대여일시'', ''대여대여소번호'', ''이용시간(분)'', ''이용거리(M)''], dtype='object')
C:/Code/regression/따릉이\서울특별시 공공자전거 대여이력 정보_2017년_3분기_1.csv 6 4150779
Index([''대여일시'', ''대여대여소번호'', ''이용시간(분)'', ''이용거리(M)''], dtype='object')
C:/Code/regression/따릉이\서울특별시 공공자전거 대여이력 정보_2017년_3분기_2.csv 7 5031308
Index([''대여일시'', ''대여대여소번호'', ''이용시간(분)'', ''이용거리(M)''], dtype='object')
C:/Code/regression/따릉이\서울특별시 공공자전거 대여이력 정보_2017년_4분기_1.csv 8 5883811
Index([''대여일시'', ''대여대여소번호'', ''이용시간(분)'', ''이용거리(M)''], dtype='object')
C:/Code/regression/따릉이\서울특별시 공공자전거 대여이력 정보_2017년_4분기_2.csv 9 6556434
Index([''대여일시'', ''대여대여소번호'', ''이용시간(분)'', ''이용거리(M)''], dtype='object')
C:/Code/regression/따릉이\서울특별시 공공자전거 대여이력 정보_2018년_1분기1.csv 10 7341168
Index([''대여일시'', ''대여대여소번호'', ''이용시간(분)'', ''이용거리(M)''], dtype='object')

In [ ]:
bike1

                         대여일시   대여소번호  이용시간_분  이용거리_M
0             2016-01-01 0:12     112      24    4140
1             2016-01-01 0:22     113      24    2850
2             2016-01-01 0:23     211       7    1020
3             2016-01-01 0:24     113      22    2850
4             2016-01-01 0:35     335      19    2190
...                       ...     ...     ...     ...
784729  '2018-03-31 23:59:46'  '2034'      26    5010
784730  '2018-03-31 23:59:52'   '266'       7     950
784731  '2018-03-31 23:59:54'   '926'      39    3130
784732  '2018-03-31 23:59:56'   '503'       4     590
784733  '2018-03-31 23:59:58'  '1026'     104   16830

[7341168 rows x 4 columns]

In [ ]:
a2=0
for i in range(11,15):
    bike_data=pd.DataFrame(pd.read_csv(filenames[i],encoding='euc-kr',thousands = ','))
    a2+=len(bike_data)
    print(filenames[i],i,a2)
    print(bike_data.columns[[1,2,9,10]])
    bike_data=bike_data.iloc[:,[1,2,9,10]]
    bike_data.columns=['대여일시','대여소번호','이용시간_분', '이용거리_M']
    bike2=pd.concat([bike2,bike_data])

C:/Code/regression/따릉이\서울특별시 공공자전거 대여이력 정보_2018년_2분기_1.csv 11 677878
Index([''대여일시'', ''대여대여소번호'', ''이용시간(분)'', ''이용거리(M)''], dtype='object')
C:/Code/regression/따릉이\서울특별시 공공자전거 대여이력 정보_2018년_2분기_2.csv 12 1629324
Index([''대여일시'', ''대여대여소번호'', ''이용시간(분)'', ''이용거리(M)''], dtype='object')
C:/Code/regression/따릉이\서울특별시 공공자전거 대여이력 정보_2018년_2분기_3.csv 13 2196183
Index([''대여일시'', ''대여대여소번호'', ''이용시간(분)'', ''이용거리(M)''], dtype='object')
C:/Code/regression/따릉이\서울특별시 공공자전거 대여이력 정보_2018년_2분기_4.csv 14 2782487
Index([''대여일시'', ''대여대여소번호'', ''이용시간(분)'', ''이용거리(M)''], dtype='object')

In [ ]:
bike2

                         대여일시   대여소번호  이용시간_분  이용거리_M
0       '2018-04-01 00:00:01'   '266'       7    1390
1       '2018-04-01 00:00:16'  '1946'      44    9170
2       '2018-04-01 00:00:17'  '1449'      42    4700
3       '2018-04-01 00:00:20'  '2034'      32    5430
4       '2018-04-01 00:00:23'   '141'      10    1960
...                       ...     ...     ...     ...
586299  '2018-06-30 23:59:55'   '505'       9    1230
586300  '2018-06-30 23:59:55'  '1328'      17    3600
586301  '2018-06-30 23:59:57'  '2376'      20    2590
586302  '2018-06-30 23:59:57'  '1251'      57    6640
586303  '2018-06-30 23:59:58'  '2169'       7     910

[2782487 rows x 4 columns]

In [ ]:
a3=0
for i in range(15,30):
    bike_data=pd.DataFrame(pd.read_csv(filenames[i],encoding='cp949',thousands = ','))
    a3+=len(bike_data)
    print(filenames[i],i,a3)
    print(bike_data.columns[[1,2,9,10]])
    bike_data=bike_data.iloc[:,[1,2,9,10]]
    bike_data.columns=['대여일시','대여소번호','이용시간_분', '이용거리_M']
    bike3=pd.concat([bike3,bike_data])

C:/Code/regression/따릉이\서울특별시 공공자전거 대여정보_201812.csv 15 497958
Index(['대여일시', '대여소번호', '이용시간', '이용거리'], dtype='object')
C:/Code/regression/따릉이\서울특별시 공공자전거 대여정보_201901.csv 16 974716
Index(['대여일시', '대여소번호', '이용시간', '이용거리'], dtype='object')
C:/Code/regression/따릉이\서울특별시 공공자전거 대여정보_201902.csv 17 1444441
Index(['대여일시', '대여소번호', '이용시간', '이용거리'], dtype='object')
C:/Code/regression/따릉이\서울특별시 공공자전거 대여정보_201903.csv 18 2319687
Index(['대여일시', '대여소번호', '이용시간', '이용거리'], dtype='object')
C:/Code/regression/따릉이\서울특별시 공공자전거 대여정보_201904.csv 19 3747454
Index(['대여일시', '대여소번호', '이용시간', '이용거리'], dtype='object')
C:/Code/regression/따릉이\서울특별시 공공자전거 대여정보_201905.csv 20 5969254
Index(['대여일시', '대여소번호', '이용시간', '이용거리'], dtype='object')
C:/Code/regression/따릉이\서울특별시 공공자전거 대여정보_201906_1.csv 21 6769214
Index(['대여일시', '대여 대여소번호', '이용시간', '이용거리'], dtype='object')
C:/Code/regression/따릉이\서울특별시 공공자전거 대여정보_201906_2.csv 22 7569165
Index(['대여일시', '대여 대여소번호', '이용시간', '이용거리'], dtype='object')
C:/Code/regression/따릉이\서울특별시 공공자전거 대여정보_201906_3.csv 23 8184886
Index(['대여일시', '대여 대여소번호', '이용시간', '이용거리'], dtype='object')
C:/Code/regression/따릉이\서울특별시 공공자전거 대여정보_201907_1.csv 24 8984886
Index(['대여일시', '대여 대여소번호', '이용시간', '이용거리'], dtype='object')
C:/Code/regression/따릉이\서울특별시 공공자전거 대여정보_201907_2.csv 25 9784886
Index(['대여일시', '대여 대여소번호', '이용시간', '이용거리'], dtype='object')
C:/Code/regression/따릉이\서울특별시 공공자전거 대여정보_201907_3.csv 26 10267497
Index(['대여일시', '대여 대여소번호', '이용시간', '이용거리'], dtype='object')
C:/Code/regression/따릉이\서울특별시 공공자전거 대여정보_201908_1.csv 27 11067497
Index(['대여일시', '대여 대여소번호', '이용시간', '이용거리'], dtype='object')
C:/Code/regression/따릉이\서울특별시 공공자전거 대여정보_201908_2.csv 28 11867497
Index(['대여일시', '대여 대여소번호', '이용시간', '이용거리'], dtype='object')
C:/Code/regression/따릉이\서울특별시 공공자전거 대여정보_201908_3.csv 29 12296195
Index(['대여일시', '대여 대여소번호', '이용시간', '이용거리'], dtype='object')

In [ ]:
bike3

                       대여일시  대여소번호  이용시간_분  이용거리_M
0           2018-12-01 0:00   1135       3   550.0
1           2018-12-01 0:01   1113       3   700.0
2           2018-12-01 0:01   3100       2   430.0
3           2018-12-01 0:00   1357       4   940.0
4           2018-12-01 0:01   3538       3   410.0
...                     ...    ...     ...     ...
428693  2019-08-27 09:32:58  99999       2     0.0
428694  2019-08-27 11:29:56  99999       5     0.0
428695  2019-08-28 11:24:58  99999       2     0.0
428696  2019-08-28 12:59:58  99999      25     0.0
428697  2019-08-30 11:26:25  99999       2     0.0

[12296195 rows x 4 columns]

In [ ]:
a4=0
for i in range(30,38):
    bike_data=pd.DataFrame(pd.read_csv(filenames[i],encoding='cp949',thousands = ','))
    a4+=len(bike_data)
    print(filenames[i],i,a4)
    print(bike_data.columns[[1,2,9,10]])
    bike_data=bike_data.iloc[:,[1,2,9,10]]
    bike_data.columns=['대여일시','대여소번호','이용시간_분', '이용거리_M']
    bike4=pd.concat([bike4,bike_data])

C:/Code/regression/따릉이\서울특별시 공공자전거 대여정보_201909_1.csv 30 800000
Index(['대여일시', '대여 대여소번호', '이용시간', '이용거리'], dtype='object')
C:/Code/regression/따릉이\서울특별시 공공자전거 대여정보_201909_2.csv 31 1600000
Index(['대여일시', '대여 대여소번호', '이용시간', '이용거리'], dtype='object')
C:/Code/regression/따릉이\서울특별시 공공자전거 대여정보_201909_3.csv 32 2007589
Index(['대여일시', '대여 대여소번호', '이용시간', '이용거리'], dtype='object')
C:/Code/regression/따릉이\서울특별시 공공자전거 대여정보_201910_1.csv 33 2807589
Index(['대여일시', '대여 대여소번호', '이용시간', '이용거리'], dtype='object')
C:/Code/regression/따릉이\서울특별시 공공자전거 대여정보_201910_2.csv 34 3607588
Index(['대여일시', '대여 대여소번호', '이용시간', '이용거리'], dtype='object')
C:/Code/regression/따릉이\서울특별시 공공자전거 대여정보_201910_3.csv 35 4348612
Index(['대여일시', '대여 대여소번호', '이용시간', '이용거리'], dtype='object')
C:/Code/regression/따릉이\서울특별시 공공자전거 대여정보_201911_1.csv 36 5148612
Index(['대여일시', '대여 대여소번호', '이용시간', '이용거리'], dtype='object')
C:/Code/regression/따릉이\서울특별시 공공자전거 대여정보_201911_2.csv 37 5827442
Index(['대여일시', '대여 대여소번호', '이용시간', '이용거리'], dtype='object')

In [ ]:
bike4

                        대여일시  대여소번호  이용시간_분   이용거리_M
0        2019-09-03 08:44:43    646      23   1250.0
1        2019-09-04 00:10:08   1372       8   1620.0
2        2019-09-04 00:41:36   1337      21      0.0
3        2019-09-04 08:48:48    529      15   1220.0
4        2019-09-05 08:46:52    646       7   1360.0
...                      ...    ...     ...      ...
5827437  2019-11-26 08:27:07   2183      59   8520.0
5827438  2019-11-27 08:26:19   2141      59   8680.0
5827439  2019-11-28 08:11:43   2183      40  10570.0
5827440  2019-11-29 08:12:31   2183      64  10560.0
5827441  2019-11-29 11:47:16  99999      76   2420.0

[5827442 rows x 4 columns]

In [ ]:
path ='C:/Code/regression/따릉이'
filenames = glob.glob(path + "/서울특별시*.xlsx")

In [ ]:
filenames

['C:/Code/regression/따릉이\\서울특별시 공공자전거 대여정보_201807_01.xlsx',
 'C:/Code/regression/따릉이\\서울특별시 공공자전거 대여정보_201807_02.xlsx',
 'C:/Code/regression/따릉이\\서울특별시 공공자전거 대여정보_201808.xlsx',
 'C:/Code/regression/따릉이\\서울특별시 공공자전거 대여정보_201809_1.xlsx',
 'C:/Code/regression/따릉이\\서울특별시 공공자전거 대여정보_201809_2.xlsx',
 'C:/Code/regression/따릉이\\서울특별시 공공자전거 대여정보_201810_01.xlsx',
 'C:/Code/regression/따릉이\\서울특별시 공공자전거 대여정보_201810_02.xlsx',
 'C:/Code/regression/따릉이\\서울특별시 공공자전거 대여정보_201811.xlsx']

In [ ]:
bike5=pd.DataFrame()

In [ ]:
%%time
a5=0
for i in range(len(filenames)):
    bike_data=pd.DataFrame(pd.read_excel(filenames[i],sheet_name="Sheet1",encoding='euc-kr',thousands = ','))
    a5+=len(bike_data)
    print(filenames[i],i,a5)
    print(bike_data.columns[[1,2,9,10]])
    bike_data=bike_data.iloc[:,[1,2,9,10]]
    bike_data.columns=['대여일시','대여소번호','이용시간_분', '이용거리_M']
    bike5=pd.concat([bike5,bike_data])

Wall time: 983 µs
C:/Code/regression/따릉이\서울특별시 공공자전거 대여정보_201807_01.xlsx 0 1048575
Index(['대여일시', '대여소번호', '이용시간', '이용거리'], dtype='object')
C:/Code/regression/따릉이\서울특별시 공공자전거 대여정보_201807_02.xlsx 1 1089882
Index(['대여일시', '대여소번호', '이용시간', '이용거리'], dtype='object')
C:/Code/regression/따릉이\서울특별시 공공자전거 대여정보_201808.xlsx 2 2115975
Index(['대여일시', '대여소번호', '이용시간', '이용거리'], dtype='object')
C:/Code/regression/따릉이\서울특별시 공공자전거 대여정보_201809_1.xlsx 3 3164550
Index(['대여일시', '대여소번호', '이용시간', '이용거리'], dtype='object')
C:/Code/regression/따릉이\서울특별시 공공자전거 대여정보_201809_2.xlsx 4 3549617
Index(['대여일시', '대여소번호', '이용시간', '이용거리'], dtype='object')
C:/Code/regression/따릉이\서울특별시 공공자전거 대여정보_201810_01.xlsx 5 4598192
Index(['대여일시', '대여소번호', '이용시간', '이용거리'], dtype='object')
C:/Code/regression/따릉이\서울특별시 공공자전거 대여정보_201810_02.xlsx 6 4964657
Index(['대여일시', '대여소번호', '이용시간', '이용거리'], dtype='object')
C:/Code/regression/따릉이\서울특별시 공공자전거 대여정보_201811.xlsx 7 5922910
Index(['대여일시', '대여소번호', '이용시간', '이용거리'], dtype='object')

In [ ]:
bike5

                      대여일시  대여소번호  이용시간_분  이용거리_M
0      2018-07-01 00:00:30   2226       3     570
1      2018-07-01 00:01:29    129       3     660
2      2018-07-01 00:02:19   1351       2      20
3      2018-07-01 00:00:43    954       4     680
4      2018-07-01 00:02:35    623       2      10
...                    ...    ...     ...     ...
958248 2018-11-30 23:04:14   2266     230    3940
958249 2018-11-30 23:45:53   1308     184    1200
958250 2018-11-30 23:01:20    406     370    1650
958251 2018-11-30 23:25:14   2213     551    6410
958252 2018-11-30 23:44:24    141     578    1930

[5922910 rows x 4 columns]

In [ ]:
bike1[bike1["대여소번호"].isnull()]

Empty DataFrame
Columns: [대여일시, 대여소번호, 이용시간_분, 이용거리_M]
Index: []

In [ ]:
bike2[bike2["대여소번호"].isnull()]

Empty DataFrame
Columns: [대여일시, 대여소번호, 이용시간_분, 이용거리_M]
Index: []

In [ ]:
bike3[bike3["대여소번호"].isnull()]

Empty DataFrame
Columns: [대여일시, 대여소번호, 이용시간_분, 이용거리_M]
Index: []

In [ ]:
bike4[bike4["대여소번호"].isnull()]

Empty DataFrame
Columns: [대여일시, 대여소번호, 이용시간_분, 이용거리_M]
Index: []

In [ ]:
bike5[bike5["대여소번호"].isnull()]

Empty DataFrame
Columns: [대여일시, 대여소번호, 이용시간_분, 이용거리_M]
Index: []

### bike전처리

In [ ]:
bike1=pd.read_csv("bike1.csv",encoding='euc-kr',thousands = ',')
bike2=pd.read_csv("bike2.csv",encoding='euc-kr',thousands = ',')
bike3=pd.read_csv("bike3.csv",encoding='euc-kr',thousands = ',')
bike4=pd.read_csv("bike4.csv",encoding='euc-kr',thousands = ',')
bike5=pd.read_csv("bike5.csv",encoding='euc-kr',thousands = ',')

In [ ]:
# 특수기호 제외

In [ ]:
bike1["대여일시"]=bike1["대여일시"].str.replace(pat=r'[^\sA-Za-z0-9:-]', repl= r'', regex=True)
bike2["대여일시"]=bike2["대여일시"].str.replace(pat=r'[^\sA-Za-z0-9:-]', repl= r'', regex=True)
bike3["대여일시"]=bike3["대여일시"].str.replace(pat=r'[^\sA-Za-z0-9:-]', repl= r'', regex=True)
bike4["대여일시"]=bike4["대여일시"].str.replace(pat=r'[^\sA-Za-z0-9:-]', repl= r'', regex=True)
bike5["대여일시"]=bike5["대여일시"].str.replace(pat=r'[^\sA-Za-z0-9:-]', repl= r'', regex=True)
# bike5이미 타임 스탬프 형식

In [ ]:
bike1["대여소번호"]=bike1["대여소번호"].str.replace(pat=r"[\s']", repl= r'', regex=True)
bike2["대여소번호"]=bike2["대여소번호"].str.replace(pat=r"[\s']", repl= r'', regex=True)
# bike3["대여소번호"]=bike3["대여소번호"].str.replace(pat=r"[\s']", repl= r'', regex=True)
# bike4["대여소번호"]=bike4["대여소번호"].str.replace(pat=r"[\s']", repl= r'', regex=True)
# bike5["대여소번호"]=bike5["대여소번호"].str.replace(pat=r"[\s']", repl= r'', regex=True)

In [ ]:
# 대여일시 문자형을 datetime형태로

In [ ]:
bike1['대여일시']=pd.to_datetime(bike1['대여일시'])
bike2['대여일시']=pd.to_datetime(bike2['대여일시'])
bike3['대여일시']=pd.to_datetime(bike3['대여일시'])
bike4['대여일시']=pd.to_datetime(bike4['대여일시'])
bike5['대여일시']=pd.to_datetime(bike5['대여일시'])

### 대여소가 아닌 정비소나 자전거보관하는 위치는 제거

In [ ]:
bike1=bike1[bike1.대여소번호!='중랑센터']

In [ ]:
bike1=bike1[bike1.대여소번호!='상암센터정비실']

In [ ]:
bike1=bike1[bike1.대여소번호!='위트콤공장']

In [ ]:
bike1=bike1[bike1.대여소번호!='중랑정비팀test1005']

In [ ]:
bike1.대여소번호=bike1.대여소번호.astype('int')

In [ ]:
bike2=bike2[~bike2.대여소번호.isin(['중랑정비팀test1005','위트콤','위트콤공장','상암센터정비실','중랑센터'])]

In [ ]:
bike2.대여소번호=bike2.대여소번호.astype('int')

In [ ]:
bike4.이용거리_M=bike4.이용거리_M.astype('int')

In [ ]:
len(bike1)+len(bike2)+len(bike3)+len(bike4)+len(bike5)

34168664

### 5개로 쪼개진 bike데이터셋들 이용거리 0인경우 제거하고 연도별로 다시 저장, 처음부터 연도별로 dataframe을 만들걸이라는 생각..
### len(bike)-len(bike[bike.이용거리_M==0]) =33425895 다합치니까(bike)돌아가질 않음..

In [ ]:
bike1=bike1[bike1.이용거리_M!=0]
bike2=bike2[bike2.이용거리_M!=0]
bike3=bike3[bike3.이용거리_M!=0]
bike4=bike4[bike4.이용거리_M!=0]
bike5=bike5[bike5.이용거리_M!=0]

In [ ]:
bike_2016=bike1[bike1.대여일시.apply(lambda a:np.where(a.year==2016,True,False))]

In [ ]:
bike_2017=bike1[bike1.대여일시.apply(lambda a:np.where(a.year==2017,True,False))]

In [ ]:
bike_2018_1=bike1[bike1.대여일시.apply(lambda a:np.where(a.year==2018,True,False))]

In [ ]:
bike_2018_2=bike2[:]

In [ ]:
bike_2018_3=bike3[bike3.대여일시.apply(lambda a:np.where(a.year==2018,True,False))]

In [ ]:
bike_2018_5=bike5[:]

In [ ]:
bik_2019_3=bike3[bike3.대여일시.apply(lambda a:np.where(a.year==2019,True,False))]

In [ ]:
bike_2019_4=bike4[:]

In [ ]:
bike_2018=pd.concat([bike_2018_1,bike_2018_2,bike_2018_3,bike_2018_5])
bike_2019=pd.concat([bik_2019_3,bike_2019_4])

In [ ]:
len(bike_2016)+len(bike_2017)+len(bike_2018)+len(bike_2019)

33425895

In [ ]:
# 시속 계산
bike_2016['시속']=round(bike_2016.이용거리_M/1000,2)/round(bike_2016.이용시간_분/60,2)
bike_2017['시속']=round(bike_2017.이용거리_M/1000,2)/round(bike_2017.이용시간_분/60,2)
bike_2018['시속']=round(bike_2018.이용거리_M/1000,2)/round(bike_2018.이용시간_분/60,2)
bike_2019['시속']=round(bike_2019.이용거리_M/1000,2)/round(bike_2019.이용시간_분/60,2)

In [ ]:
# 대여일시 날짜형식으로 변환
bike_2016.대여일시=pd.to_datetime(bike_2016['대여일시'])
bike_2017.대여일시=pd.to_datetime(bike_2017['대여일시'])
bike_2018.대여일시=pd.to_datetime(bike_2018['대여일시'])
bike_2019.대여일시=pd.to_datetime(bike_2019['대여일시'])

In [ ]:
# 16,17은 0분 없음
bike_2016=bike_2016[bike_2016.이용시간_분!=0]
bike_2017=bike_2017[bike_2017.이용시간_분!=0]
bike_2018=bike_2018[bike_2018.이용시간_분!=0]
bike_2019=bike_2019[bike_2019.이용시간_분!=0]

bike_2016.to_csv("bike_2016.csv",index=False,encoding="euc-kr")
bike_2017.to_csv("bike_2017.csv",index=False,encoding="euc-kr")
bike_2018.to_csv("bike_2018.csv",index=False,encoding="euc-kr")
bike_2019.to_csv("bike_2019.csv",index=False,encoding="euc-kr")

#### 이상치 제외
```
이동거리 0.75+2IQR 초과 -> 극단적으로 많은 거리 이동
이용시간 0.75+2IQR 초과 -> 극단적으로 오랜시간 이용
속력 35이상인경우 -> 자전거의경우 25km/h만 넘어가도 상당히 빠르다, 또한 상급 동호인들의 경우에나 40km/h이상의 속력을 내기도 한다
속력 5 미만 -> 걷는속력이 보통 4
```

In [ ]:
# 이상치 수준 확인
np.quantile(bike_2018.이용거리_M,0.75)+(2*(np.quantile(bike_2018.이용거리_M,0.75)-np.percentile(bike_2018.이용거리_M,25)))

12140.0

In [ ]:
bike_2016=pd.read_csv("bike_2016.csv",encoding="euc-kr")
bike_2017=pd.read_csv("bike_2017.csv",encoding="euc-kr")
bike_2018=pd.read_csv("bike_2018.csv",encoding="euc-kr")
bike_2019=pd.read_csv("bike_2019.csv",encoding="euc-kr")

In [ ]:
def out_outlier(data):
    dist=0
    time=0
    dist=np.quantile(data.이용거리_M,0.75)+(2*(np.quantile(data.이용거리_M,0.75)-np.quantile(data.이용거리_M,0.25)))
    time=np.quantile(data.이용시간_분,0.75)+(2*(np.quantile(data.이용시간_분,0.75)-np.quantile(data.이용시간_분,0.25)))
#     아웃라이어 제거
    a=data[~((data.이용거리_M>dist)|(data.이용시간_분>time))]
#     시속 5이상 35미만
    a=a[(a.시속>=5)&(a.시속<35)]
    return a

In [ ]:
bike_2016=out_outlier(bike_2016)
bike_2017=out_outlier(bike_2017)
bike_2018=out_outlier(bike_2018)
bike_2019=out_outlier(bike_2019)

#### 대여일시 년-월-일만 남김

In [ ]:
bike_2016.대여일시=bike_2016.대여일시.apply(lambda a:a.split(" ")[0])
bike_2017.대여일시=bike_2017.대여일시.apply(lambda a:a.split(" ")[0])
bike_2018.대여일시=bike_2018.대여일시.apply(lambda a:a.split(" ")[0])
bike_2019.대여일시=bike_2019.대여일시.apply(lambda a:a.split(" ")[0])

In [ ]:
bike_2016.대여일시[0]

'2016-01-01'

In [ ]:
bike_2016

               대여일시  대여소번호  이용시간_분  이용거리_M         시속
0        2016-01-01    112      24    4140  10.350000
1        2016-01-01    113      24    2850   7.125000
2        2016-01-01    211       7    1020   8.500000
3        2016-01-01    113      22    2850   7.702703
4        2016-01-01    335      19    2190   6.843750
...             ...    ...     ...     ...        ...
1548617  2016-12-31    199       8    1490  11.461538
1548618  2016-12-31    115       4    1100  15.714286
1548619  2016-12-31    623       3     770  15.400000
1548620  2016-12-31    320       7     740   6.166667
1548621  2016-12-31    340      21    5060  14.457143

[1290890 rows x 5 columns]

#### 일별 대여소별 대여 횟수 구하기

In [ ]:
bike_2016[(bike_2016.대여일시=='2016-01-01')&(bike_2016.대여소번호==101)]

           대여일시  대여소번호  이용시간_분  이용거리_M         시속
114  2016-01-01    101       6    1020  10.200000
115  2016-01-01    101       6    1060  10.600000
390  2016-01-01    101      21    3340   9.542857

In [ ]:
bike_2016.groupby(['대여일시','대여소번호']).count().reset_index().iloc[:,0:3]

             대여일시  대여소번호  이용시간_분
0      2016-01-01    101       3
1      2016-01-01    102      11
2      2016-01-01    104       3
3      2016-01-01    105       3
4      2016-01-01    106       4
...           ...    ...     ...
96440  2016-12-31    927       2
96441  2016-12-31    928       2
96442  2016-12-31    931      13
96443  2016-12-31    932       5
96444  2016-12-31    933       8

[96445 rows x 3 columns]

In [ ]:
bike2016_count=bike_2016.groupby(['대여일시','대여소번호']).count().reset_index().iloc[:,0:3]
bike2017_count=bike_2017.groupby(['대여일시','대여소번호']).count().reset_index().iloc[:,0:3]
bike2018_count=bike_2018.groupby(['대여일시','대여소번호']).count().reset_index().iloc[:,0:3]
bike2019_count=bike_2019.groupby(['대여일시','대여소번호']).count().reset_index().iloc[:,0:3]

In [ ]:
bike2016_count.columns=["대여일시","대여소번호","count"]
bike2017_count.columns=["대여일시","대여소번호","count"]
bike2018_count.columns=["대여일시","대여소번호","count"]
bike2019_count.columns=["대여일시","대여소번호","count"]

In [ ]:
bike2019_count.tail(3)

              대여일시  대여소번호  count
501796  2019-11-30   3539      3
501797  2019-11-30   3541     73
501798  2019-11-30   3542     37

In [ ]:
bike_count=pd.concat([bike2016_count,bike2017_count,bike2018_count,bike2019_count])

In [ ]:
bike_count.reset_index(inplace=True,drop=True)

In [ ]:
len(bike_count)

1274064

bike_count.to_csv("bike_count.csv",index=False,encoding='euc-kr')