In [1]:
import pandas as pd
import numpy as np
import glob
import matplotlib.pylab as plt
import matplotlib as mpl
import seaborn as sns
import sklearn as sk
import statsmodels.api as sm
import scipy.stats
import scipy as sp
import warnings
warnings.filterwarnings(action='ignore')

#### 버스정류소별 위도, 경도

In [2]:
bus_xy = pd.read_csv('bus_xy.csv', encoding='euc-kr')

In [3]:
bus_xy = bus_xy.iloc[:, 1:]

In [5]:
bus_xy.columns = ['ARS-ID', '정류장명', 'x', 'y']

In [6]:
bus_xy

       ARS-ID           정류장명          x           y
0        1001        종로2가사거리  37.569765  126.987750
1        1002    창경궁.서울대학교병원  37.579183  126.996566
2        1003      명륜3가.성대입구  37.582671  126.998340
3        1004       종로2가.삼일교  37.568579  126.987613
4        1005  혜화동로터리.여운형활동터  37.586243  127.001744
5        1006        서대문역사거리  37.566137  126.966893
6        1007   서울역사박물관.경희궁앞  37.569135  126.970380
7        1008   서울역사박물관.경희궁앞  37.569412  126.970609
8        1009            광화문  37.570135  126.975251
9        1010            광화문  37.570217  126.978085
10       1011           종로1가  37.570118  126.980910
11       1012           종로1가  37.570229  126.981391
12       1013           종로2가  37.570139  126.985543
13       1014           종로2가  37.570257  126.986248
14       1015      종로3가.탑골공원  37.570245  126.989565
15       1016      종로3가.탑골공원  37.570361  126.989988
16       1017        종로4가.종묘  37.570507  126.994722
17       1018        종로4가.종묘  37.570627  126.995284
18       1019      종로5가.광장시장  37.570757  126.998850
19       1020      종로5가.광장시장  37.570881  126.999335
20       1021   종로6가.동대문종합시장  37.570962  127.003464
21       1022   종로6가.동대문종합시장  37.571127  127.005714
22       1023      동대문역.흥인지문  37.572302  127.013451
23       1037      동대문(흥인지문)  37.571953  127.012046
24       1041            동묘앞  37.573726  127.018451
25       1044            동묘앞  37.574243  127.019672
26       1101           경기상고  37.587550  126.969364
27       1102            신교동  37.583296  126.970263
28       1103           경기상고  37.587191  126.969770
29       1104           경복고교  37.585113  126.971044
...       ...            ...        ...         ...
11469   22482          방배경찰서  37.480818  126.982151
11470   22514      양재역.환승주차장  37.483773  127.034362
11471   22522       래미안방배아트힐  37.477439  127.006374
11472   22529          우면아파트  37.470616  127.025884
11473   22542         코오롱아파트  37.471997  127.028026
11474   22568        농협서초동지점  37.488782  127.009374
11475   22590        서초역7번출구  37.493004  127.007323
11476   22597          남서울농협  37.479769  127.040840
11477   22636           AT센터  37.468718  127.039173
11478   22684          하이브랜드  37.462116  127.036755
11479   22750           AT센터  37.470126  127.039236
11480   22770        더케이호텔정문  37.466426  127.032868
11481   22881       서울시인재개발원  37.482988  127.021981
11482   22888        농협서초동지점  37.488438  127.009003
11483   22914          교육연수원  37.473332  126.996989
11484   22955  성촌마을입구.우면초등학교  37.464266  127.024663
11485   22958         형촌마을입구  37.462138  127.022093
11486   22991         신동아아파트  37.491468  127.025301
11487   22995        창신교회여원사  37.490414  127.021171
11488   23467          개포2단지  37.481642  127.061950
11489   23875          현대아파트  37.489444  127.081322
11490   24500     영파여고.강동구청역  37.531452  127.120653
11491   24701       시그니엘서울호텔  37.512131  127.102846
11492   25504            작목반  37.573311  127.169697
11493   25507         일자마을입구  37.571846  127.171355
11494   25519     둔촌중앙하이츠아파트  37.529009  127.142588
11495   25548     영파여고.강동구청역  37.532185  127.121370
11496   25745      강동중학교.2단지  37.568562  127.176651
11497   25754         일자마을입구  37.571776  127.171731
11498   25755            작목반  37.573355  127.169855

[11499 rows x 4 columns]

#### 지하철 역별 위도, 경도

In [7]:
sub_xy = pd.read_csv('subway.csv', encoding='utf-8', names=['sub', 'x', 'y'])

In [8]:
sub_xy

          sub          x           y
0   동대문역사문화공원  37.565138  127.007896
1         신도림  37.508725  126.891295
2         왕십리  37.561533  127.037732
3          시청  37.564718  126.977108
4          교대  37.493415  127.014080
5          강변  37.535095  127.094681
6       을지로3가  37.566295  126.991910
7        홍대입구  37.557192  126.925381
8       영등포구청  37.524970  126.895951
9       을지로4가  37.566941  126.998079
10         합정  37.549463  126.913739
11         신당  37.565972  127.017820
12      종합운동장  37.510997  127.073642
13         사당  37.476530  126.981685
14       건대입구  37.540693  127.070230
15         대림  37.492970  126.895801
16         잠실  37.513950  127.102234
17         당산  37.534380  126.902281
18         강남  37.497175  127.027926
19         선릉  37.504503  127.049008
20        충정로  37.559973  126.963672
21      을지로입구  37.566014  126.982618
22       상왕십리  37.564354  127.029354
23        한양대  37.555273  127.043655
24         뚝섬  37.547184  127.047367
25         성수  37.544581  127.055961
26         구의  37.537077  127.085916
27       잠실나루  37.520733  127.103790
28       잠실새내  37.511687  127.086162
29         삼성  37.508844  127.063160
30         역삼  37.500622  127.036456
31         서초  37.491897  127.007917
32         방배  37.481426  126.997596
33        낙성대  37.476930  126.963693
34      서울대입구  37.481247  126.952739
35         봉천  37.482362  126.941892
36         신림  37.484201  126.929715
37        신대방  37.487462  126.913149
38    구로디지털단지  37.485266  126.901401
39         문래  37.517933  126.894760
40         신촌  37.555134  126.936893
41         이대  37.556733  126.946013
42         아현  37.557345  126.956141

#### 역별 500m내에 존재하는 버스정류소들을 딕셔너리에 담아둠

In [11]:
from haversine import haversine

In [12]:
subloc = (sub_xy.x[0], sub_xy.y[0])
busloc = (bus_xy.x[0], bus_xy.y[0])
# haversine(latitude,longtitude) ,위도 경도 (37...,126...)
haversine(subloc, busloc, unit='m')

1848.663518248535

In [13]:
dic = {}

for i in range(len(sub_xy)):
    l = []
    for j in range(len(bus_xy)):
        subloc = (sub_xy.x[i], sub_xy.y[i])
        busloc = (bus_xy.x[j], bus_xy.y[j])
        hav = haversine(subloc, busloc, unit='m')
        if hav <= 500:
            l.append(bus_xy.iloc[j, 0])
    dic[sub_xy.iloc[i, 0]] = l

In [14]:
sub_xy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43 entries, 0 to 42
Data columns (total 3 columns):
sub    43 non-null object
x      43 non-null float64
y      43 non-null float64
dtypes: float64(2), object(1)
memory usage: 1.1+ KB

#### a는 500m내에 역이 존재하는 정류소들을 중복값 제거하여 담아놓은 list

In [16]:
a = list(dic.values())

In [17]:
# list 2차원을 1차원으로
a = sum(a, [])

In [18]:
a

[2111,
 2168,
 2169,
 2170,
 2171,
 2172,
 2173,
 2174,
 2205,
 2206,
 2235,
 2241,
 2274,
 2275,
 2280,
 2686,
 2687,
 2688,
 2709,
 2710,
 2711,
 2712,
 2908,
 2920,
 15808,
 17001,
 17002,
 17101,
 17102,
 17103,
 17104,
 17412,
 17608,
 17612,
 17613,
 17775,
 17834,
 17909,
 17947,
 19001,
 19002,
 19312,
 19357,
 19682,
 19700,
 19708,
 19745,
 4109,
 4110,
 4111,
 4112,
 4123,
 4124,
 4125,
 4126,
 4127,
 4128,
 4131,
 4133,
 4134,
 4135,
 4136,
 4137,
 4232,
 4233,
 4301,
 4302,
 4510,
 4574,
 4593,
 4671,
 4721,
 4722,
 4753,
 4781,
 4808,
 4809,
 4824,
 4825,
 4826,
 4893,
 4894,
 2100,
 2126,
 2127,
 2128,
 2131,
 2132,
 2133,
 2134,
 2135,
 2137,
 2140,
 2141,
 2142,
 2157,
 2219,
 2233,
 2253,
 2278,
 2283,
 2286,
 2502,
 2503,
 2504,
 2506,
 2507,
 2605,
 2639,
 2640,
 2641,
 2643,
 2649,
 2661,
 2662,
 2680,
 2681,
 2699,
 2706,
 2707,
 2708,
 2901,
 2902,
 2903,
 2923,
 2925,
 22101,
 22103,
 22133,
 22134,
 22161,
 22170,
 22171,
 22345,
 22400,
 22578,
 22694,
 22711,
 22824,
 22825,
 22828,
 22897,
 22915,
 22921,
 5156,
 5158,
 5161,
 5162,
 5163,
 5266,
 5267,
 5543,
 5547,
 5579,
 5582,
 5585,
 5721,
 5724,
 5999,
 1004,
 1015,
 1016,
 1175,
 1176,
 1237,
 1251,
 1291,
 1767,
 1768,
 1914,
 2001,
 2002,
 2155,
 2158,
 2159,
 2160,
 2161,
 2162,
 2163,
 2225,
 2240,
 2287,
 2922,
 13019,
 13144,
 14015,
 14016,
 14061,
 14181,
 14182,
 14224,
 14225,
 14233,
 14235,
 14283,
 14284,
 14497,
 14498,
 14511,
 14512,
 14832,
 14862,
 14863,
 14871,
 14899,
 14900,
 14906,
 14911,
 14912,
 14943,
 14982,
 14983,
 13018,
 19162,
 19163,
 19164,
 19165,
 19166,
 19167,
 19168,
 19169,
 19170,
 19171,
 19181,
 19182,
 19183,
 19206,
 19207,
 19209,
 19302,
 19526,
 19579,
 19698,
 19707,
 19729,
 19775,
 19852,
 1017,
 1018,
 1019,
 1020,
 1176,
 1177,
 1247,
 1251,
 1769,
 1794,
 1915,
 2162,
 2163,
 2164,
 2165,
 2166,
 2167,
 2168,
 2208,
 2226,
 2227,
 2240,
 2272,
 2686,
 2712,
 2921,
 14011,
 14012,
 14119,
 14120,
 14121,
 14122,
 14216,
 14218,
 14219,
 14220,
 14244,
 14245,
 14246,
 14247,
 14496,
 14510,
 14522,
 14536,
 14754,
 14835,
 14844,
 14895,
 14964,
 14966,
 14968,
 14969,
 2177,
 2178,
 2179,
 2180,
 2181,
 2182,
 2183,
 2184,
 2187,
 2188,
 2279,
 2510,
 2926,
 24144,
 24154,
 24155,
 24164,
 24710,
 24711,
 24906,
 20020,
 20141,
 20253,
 20500,
 21027,
 21028,
 21126,
 21161,
 22028,
 22234,
 22241,
 22242,
 22252,
 22257,
 22258,
 22363,
 22442,
 22464,
 22593,
 22763,
 22765,
 22769,
 22776,
 22849,
 22979,
 22989,
 20566,
 21162,
 22482,
 5180,
 5204,
 5205,
 5214,
 5217,
 5218,
 5228,
 5229,
 5230,
 5232,
 5263,
 5694,
 5695,
 5696,
 5697,
 5901,
 17114,
 17115,
 17116,
 17117,
 17296,
 17297,
 17474,
 17717,
 17734,
 17881,
 17899,
 17933,
 19262,
 19264,
 19265,
 19266,
 19270,
 19271,
 19502,
 19509,
 19515,
 19786,
 19800,
 19807,
 19839,
 24001,
 24002,
 24017,
 24050,
 24130,
 24131,
 24132,
 24133,
 24134,
 24135,
 24136,
 24137,
 24138,
 24146,
 24610,
 24620,
 24715,
 24905,
 24998,
 24701,
 19172,
 19173,
 19174,
 19175,
 19176,
 19177,
 19178,
 19453,
 19501,
 19510,
 19516,
 19522,
 19528,
 19645,
 19662,
 19674,
 19697,
 19825,
 19826,
 19840,
 19862,
 19863,
 19995,
 19996,
 22009,
 22010,
 22012,
 22114,
 22115,
 22117,
 22131,
 22165,
 22166,
 22167,
 22168,
 22173,
 22339,
 22348,
 22406,
 22407,
 22532,
 22600,
 22652,
 22653,
 22654,
 22845,
 22850,
 22859,
 22866,
 22869,
 22885,
 22941,
 22997,
 23284,
 23285,
 23287,
 23572,
 23574,
 23617,
 23641,
 23813,
 23814,
 23900,
 23214,
 23218,
 23241,
 23254,
 23257,
 23258,
 23259,
 23276,
 23277,
 23306,
 23307,
 23598,
 23807,
 23808,
 23809,
 23810,
 23883,
 2107,
 2108,
 2109,
 2516,
 13045,
 13046,
 13137,
 13238,
 13240,
 13253,
 13340,
 13535,
 13547,
 13571,
 13583,
 13592,
 13598,
 13656,
 13665,
 13695,
 13764,
 13766,
 13794,
 13846,
 13854,
 14100,
 14525,
 14539,
 14540,
 14589,
 14676,
 1011,
 1012,
 1173,
 1174,
 1291,
 1912,
 2001,
 2002,
 2100,
 2139,
 2140,
 2141,
 2142,
 2156,
 2157,
 2158,
 2224,
 2246,
 2253,
 2287,
 2507,
 2639,
 2640,
 2641,
 2681,
 2699,
 2923,
 2925,
 1764,
 2252,
 2258,
 2260,
 2261,
 4101,
 4102,
 4103,
 4105,
 4106,
 4107,
 4109,
 4110,
 4113,
 4114,
 4252,
 4273,
 4588,
 4590,
 4593,
 4598,
 4829,
 4830,
 4831,
 4832,
 4884,
 4885,
 4127,
 4128,
 4129,
 4130,
 4187,
 4188,
 4306,
 4890,
 4891,
 4892,
 4893,
 4894,
 4902,
 4178,
 4179,
 4180,
 4185,
 4186,
 4187,
 4236,
 4237,
 4238,
 4239,
 4241,
 4242,
 4243,
 4244,
 4850,
 4851,
 4866,
 4867,
 4240,
 4253,
 4547,
 4555,
 4561,
 4569,
 4577,
 4855,
 4858,
 4859,
 4862,
 4901,
 5148,
 5149,
 5158,
 5175,
 5176,
 5177,
 5188,
 5192,
 5199,
 5550,
 5560,
 5572,
 5576,
 5580,
 5588,
 5589,
 5594,
 5714,
 5718,
 5590,
 24125,
 24129,
 24130,
 24610,
 24611,
 24140,
 24141,
 24142,
 24145,
 24158,
 24436,
 24458,
 24614,
 24662,
 24727,
 24728,
 23195,
 23196,
 23197,
 23198,
 23199,
 23201,
 23242,
 23243,
 23244,
 23251,
 23438,
 23473,
 23523,
 23741,
 23781,
 23789,
 23801,
 23804,
 23818,
 23905,
 23906,
 23922,
 23923,
 23929,
 23280,
 23281,
 23282,
 23283,
 23288,
 23289,
 23304,
 23305,
 23811,
 23812,
 22134,
 22135,
 22136,
 22137,
 22138,
 22140,
 22142,
 22379,
 22579,
 22595,
 22742,
 22832,
 22870,
 22879,
 22921,
 22922,
 22969,
 22983,
 22568,
 22590,
 22888,
 22228,
 22229,
 22232,
 22233,
 22236,
 22237,
 22246,
 22247,
 22248,
 22249,
 22250,
 22388,
 22394,
 22395,
 22423,
 22436,
 22450,
 22463,
 22501,
 22516,
 22517,
 22530,
 22557,
 22566,
 22574,
 22802,
 22808,
 22865,
 22873,
 22883,
 22981,
 21101,
 21102,
 21123,
 21124,
 21543,
 21546,
 21552,
 21556,
 21562,
 21572,
 21576,
 21583,
 21587,
 21593,
 21678,
 21734,
 21744,
 21751,
 21752,
 21765,
 21771,
 21785,
 21800,
 21819,
 21103,
 21104,
 21105,
 21120,
 21121,
 21122,
 21130,
 21131,
 21132,
 21137,
 21138,
 21139,
 21184,
 21185,
 21186,
 21252,
 21330,
 21368,
 21540,
 21549,
 21566,
 21790,
 21833,
 21834,
 21835,
 21888,
 21105,
 21106,
 21107,
 21119,
 21181,
 21182,
 21183,
 21187,
 21188,
 21189,
 21192,
 21201,
 21253,
 21256,
 21258,
 21508,
 21517,
 21763,
 21764,
 21812,
 21831,
 21832,
 21851,
 21877,
 21883,
 21889,
 21893,
 21108,
 21117,
 21148,
 21149,
 21152,
 21153,
 21232,
 21233,
 21261,
 21262,
 21303,
 21304,
 21350,
 21369,
 21371,
 21377,
 21571,
 21582,
 21594,
 21601,
 21604,
 21651,
 21677,
 21700,
 21701,
 21829,
 21830,
 21912,
 21913,
 21916,
 20207,
 20208,
 20579,
 20589,
 20921,
 20923,
 20936,
 20937,
 21224,
 21225,
 21226,
 21227,
 21351,
 21352,
 21353,
 21356,
 21357,
 21358,
 21360,
 21742,
 21756,
 21577,
 21909,
 17013,
 17014,
 17015,
 17122,
 17123,
 17229,
 17472,
 17481,
 17503,
 17634,
 17635,
 17726,
 17727,
 17751,
 17752,
 17911,
 17920,
 17923,
 17967,
 17974,
 19009,
 19263,
 19530,
 19837,
 20001,
 21001,
 21248,
 21264,
 21801,
 21802,
 19162,
 19163,
 19164,
 19166,
 19192,
 19193,
 19194,
 19195,
 19200,
 19201,
 19292,
 19293,
 19305,
 19318,
 19319,
 19582,
 19585,
 19591,
 19619,
 19693,
 19702,
 19713,
 19733,
 19741,
 19750,
 19811,
 19849,
 19850,
 13021,
 13023,
 13142,
 13143,
 13145,
 13146,
 13259,
 13324,
 13724,
 13793,
 13802,
 13870,
 14062,
 14063,
 14168,
 14169,
 14170,
 14171,
 14204,
 14205,
 14228,
 14520,
 14557,
 14591,
 14842,
 14859,
 14867,
 14979,
 14989,
 14990,
 14991,
 14992,
 13020,
 13022,
 13025,
 13140,
 13141,
 13143,
 13210,
 13211,
 13244,
 13506,
 13517,
 13617,
 13661,
 13698,
 13725,
 13865,
 13870,
 13898,
 13922,
 13928,
 14064,
 14067,
 14207,
 14208,
 14209,
 14210,
 14211,
 14619,
 14868,
 14885,
 14889,
 14898,
 14994,
 13024,
 13041,
 13042,
 13044,
 13340,
 13556,
 13567,
 13595,
 13596,
 13617,
 13854,
 13861,
 13871,
 13876,
 13926,
 14009,
 14010,
 ...]

#### 승차가 0명인 경우들에 대하여 확인

In [110]:
bus_sum[bus_sum['승차총승객수'] == 0]

             사용일자  ARS-ID          x           y  승차총승객수  하차총승객수
139      20160101    4306  37.553828  127.043216       0       1
156      20160101    4825  37.564991  127.038605       0      14
159      20160101    4830  37.566954  127.029385       0      21
253      20160101   13794  37.564006  126.961672       0     148
347      20160101   14966  37.545554  126.915963       0      11
348      20160101   14968  37.545636  126.914250       0      13
349      20160101   14969  37.545737  126.912795       0      22
417      20160101   19195  37.515556  126.892491       0       2
548      20160101   21304  37.484972  126.924632       0      24
676      20160101   22654  37.494653  127.028875       0      43
695      20160101   22915  37.491572  127.016719       0      27
909      20160102    4306  37.553828  127.043216       0       1
1116     20160102   14966  37.545554  126.915963       0      21
1117     20160102   14968  37.545636  126.914250       0      31
1118     20160102   14969  37.545737  126.912795       0      21
1244     20160102   19840  37.531111  126.899539       0      32
1669     20160103    4241  37.545888  127.050228       0      28
1678     20160103    4306  37.553828  127.043216       0       1
1696     20160103    4826  37.565494  127.040276       0      29
1886     20160103   14966  37.545554  126.915963       0      23
1887     20160103   14968  37.545636  126.914250       0      35
1956     20160103   19195  37.515556  126.892491       0       5
1992     20160103   19662  37.532232  126.906607       0      67
2014     20160103   19840  37.531111  126.899539       0      37
2138     20160103   21889  37.483193  126.943416       0     518
2218     20160103   22776  37.477082  126.983118       0     251
2234     20160103   22915  37.491572  127.016719       0      39
2439     20160104    4241  37.545888  127.050228       0      46
2448     20160104    4306  37.553828  127.043216       0       2
2656     20160104   14966  37.545554  126.915963       0      55
...           ...     ...        ...         ...     ...     ...
1116243  20191127   14969  37.545737  126.912795       0      37
1116315  20191127   19195  37.515556  126.892491       0      16
1116446  20191127   21304  37.484972  126.924632       0      49
1116499  20191127   21889  37.483193  126.943416       0    1059
1116573  20191127   22654  37.494653  127.028875       0     230
1117028  20191128   14885  37.556881  126.951034       0      80
1117039  20191128   14966  37.545554  126.915963       0      35
1117040  20191128   14968  37.545636  126.914250       0      51
1117041  20191128   14969  37.545737  126.912795       0      26
1117113  20191128   19195  37.515556  126.892491       0      19
1117298  20191128   21893  37.483603  126.941390       0     425
1117371  20191128   22654  37.494653  127.028875       0     226
1117628  20191129    4824  37.563553  127.038628       0      15
1117629  20191129    4825  37.564991  127.038605       0      44
1117630  20191129    4826  37.565494  127.040276       0      69
1117637  20191129    4855  37.541411  127.053990       0      22
1117649  20191129    4894  37.557768  127.039134       0      24
1117837  20191129   14966  37.545554  126.915963       0      34
1117838  20191129   14968  37.545636  126.914250       0      50
1117911  20191129   19195  37.515556  126.892491       0      16
1118401  20191130    4241  37.545888  127.050228       0      23
1118428  20191130    4826  37.565494  127.040276       0      48
1118504  20191130   13146  37.556638  126.936757       0       8
1118636  20191130   14968  37.545636  126.914250       0      31
1118637  20191130   14969  37.545737  126.912795       0      20
1118671  20191130   17634  37.483183  126.898363       0      20
1118709  20191130   19195  37.515556  126.892491       0      17
1118752  20191130   19702  37.516949  126.896353       0      12
1118781  20191130   20589  37.487041  126.909579       0      44
1118967  20191130   22654  37.494653  127.028875       0      90

[9945 rows x 6 columns]

In [112]:
bus_drop[(bus_drop['사용일자'] == 20160102) & (bus_drop['ARS-ID'] == 4825)]

,사용일자,노선번호,ARS-ID,역명,승차총승객수,하차총승객수,정류장명,x,y
3465,20160102,성동02,4825,중앙하이츠아파트,2,25,중앙하이츠아파트,37.564991,127.038605

#### 확인결과 대부분 차고지 인것으로 확인됨 위의 경우는 차고지다음 정류소

In [113]:
bus_sum.to_csv("bus_sum.csv", encoding='euc-kr', index=True)