### 기상 데이터 전처리_서울전체

In [ ]:
tem_2019= pd.read_csv('2019day_1.csv',encoding='euc-kr')
tem_2018= pd.read_csv('2018day_1.csv',encoding='euc-kr')
tem_2017= pd.read_csv('2017day_1.csv',encoding='euc-kr')
tem_2016= pd.read_csv('2016day_1.csv',encoding='euc-kr')

In [ ]:
tem_2019.columns[36]

'합계 일사량(MJ/m2)'

In [ ]:
tem_2019.rename(columns={'합계 일사량(MJ/m2)':'합계 일사(MJ/m2)','합계 일조시간(hr)':'합계 일조 시간(hr)'},inplace=True)

In [ ]:
# 2016년이 윤년이라 하루 더 있음
tem = pd.concat([tem_2019,tem_2018,tem_2017,tem_2016])

In [ ]:
len(tem)

1461

In [ ]:
set(tem.columns)-set(tem_2019.columns)

set()

In [ ]:
tem.reset_index(drop=True,inplace=True)

In [ ]:
tem=tem.iloc[:,np.where(tem.columns.isin(['일시','평균기온(°C)','평균 상대습도(%)','일강수량(mm)','합계 일사(MJ/m2)']))[0]]

In [ ]:
tem.tail()

            date  avgtemp  rainfall  avghimidity  solar
1456  2016-12-27     -2.3       0.5         54.6   9.29
1457  2016-12-28     -3.7       NaN         49.0   9.22
1458  2016-12-29     -4.2       0.3         53.1   9.67
1459  2016-12-30     -3.9       NaN         50.9   6.79
1460  2016-12-31      0.7       0.0         65.4   5.28

In [ ]:
tem.columns=["date","avgtemp","rainfall","avghimidity","solar"]

In [ ]:
tem[tem.solar.isnull()]

            date  avgtemp  rainfall  avghimidity  solar
239   2019-08-28     26.1       NaN         66.2    NaN
240   2019-08-29     23.4      36.9         77.1    NaN
382   2018-01-18      2.1       0.0         59.6    NaN
390   2018-01-26    -14.8       NaN         34.9    NaN
410   2018-02-15     -0.7       NaN         28.0    NaN
835   2017-04-16     18.7       NaN         52.9    NaN
844   2017-04-25     16.0       NaN         56.8    NaN
1038  2017-11-05      8.4       NaN         52.5    NaN
1053  2017-11-20     -0.4       0.0         55.3    NaN
1060  2017-11-27      2.5       NaN         53.0    NaN
1063  2017-11-30     -2.4       NaN         26.8    NaN

In [ ]:
tem.date=pd.to_datetime(tem['date'])
tem['year']=tem.date.apply(lambda x: x.year)
tem['month']=tem.date.apply(lambda x: x.month)

In [ ]:
msolar=tem.groupby(['year','month']).mean().reset_index()

In [ ]:
a=np.where(tem.solar.isnull())[0]

In [ ]:
for i in a:
    tem.solar[i]=msolar.solar[(msolar.year==tem.year[i]) & (msolar.month==tem.month[i])]

In [ ]:
tem.iloc[a,:]

           date  avgtemp  rainfall  avghimidity      solar  year  month
239  2019-08-28     26.1       NaN         66.2  16.766897  2019      8
240  2019-08-29     23.4      36.9         77.1  16.766897  2019      8
382  2018-01-18      2.1       0.0         59.6   5.482414  2018      1
390  2018-01-26    -14.8       NaN         34.9   5.482414  2018      1
410  2018-02-15     -0.7       NaN         28.0  11.454815  2018      2
835  2017-04-16     18.7       NaN         52.9  17.461071  2017      4
844  2017-04-25     16.0       NaN         56.8  17.461071  2017      4
1038 2017-11-05      8.4       NaN         52.5   5.590000  2017     11
1053 2017-11-20     -0.4       0.0         55.3   5.590000  2017     11
1060 2017-11-27      2.5       NaN         53.0   5.590000  2017     11
1063 2017-11-30     -2.4       NaN         26.8   5.590000  2017     11

In [ ]:
tem.rainfall=tem['rainfall'].fillna(0)

In [ ]:
tem.tail(5)

           date  avgtemp  rainfall  avghimidity  solar  year  month
1456 2016-12-27     -2.3       0.5         54.6   9.29  2016     12
1457 2016-12-28     -3.7       0.0         49.0   9.22  2016     12
1458 2016-12-29     -4.2       0.3         53.1   9.67  2016     12
1459 2016-12-30     -3.9       0.0         50.9   6.79  2016     12
1460 2016-12-31      0.7       0.0         65.4   5.28  2016     12

tem.to_csv("tem.csv",encoding='euc-kr',index=False)

In [ ]:
tem=pd.read_csv('tem.csv',encoding='euc-kr')

In [ ]:
tem.isnull().sum()

date           0
avgtemp        0
rainfall       0
avghimidity    0
solar          0
year           0
month          0
dtype: int64